.btn:link,
.btn:visited {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s;
  position: relative;
  border: none;
}

.btn:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn--green {
  background-color: #48f15f;
  color: white;
}

.btn--green::after {
  content: "";
  display: block;
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  transition: all 0.4s;
}

.btn--green:active::after {
  transform: scale(1.3);
  opacity: 0;
}

.element--hide {
  display: none !important;
}

.link__btn {
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;

  &.link--blue {
    background: rgb(0, 108, 250);
    &:hover {
      background: rgba(0, 108, 250, 0.8);
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &.link--white {
    background-color: #444;
    color: white;
    padding: 6px;

    &:hover {
      background: rgba(4, 26, 128, 0.8);
    }
  }

  &.link--red {
    background: #444;
    color: red;

    &:hover {
      background: rgba(4, 26, 128, 0.8);
    }
  }
}

.input__style {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 200px;
  background: #444;
  color: white;
}

.element__image {
  margin: 0px !important;
  height: 100%;
  width: 100%;
  // object-fit: contain;
  display: block;
  object-position: top;
}

.image__caption {
  padding: 10px;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 16px;
  outline: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.6);

  &.dark {
    background-color: #222;
    color: rgba(255, 255, 255, 0.6);
  }
}

.image__caption--write {
  border: 1px solid rgb(0, 108, 250);
}

.image__caption--read {
  border: none;
  padding: 11px;
}

.videoContainer {
  span {
    cursor: default;
  }
}

.render__table {
  position: relative;

  &,
  tr,
  th,
  td {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
  }
  td,
  th {
    padding: 5px 10px;
  }

  &.dark {
    tr,
    th,
    td {
      border: 1px solid rgba(255, 255, 255, 0.6);
    }
  }

  &:hover {
    outline: 3px solid #a1c8fd;
  }
}

.hr--line {
  position: relative;

  &:hover {
    outline: 3px solid #a1c8fd;
  }
}

.table--block {
  position: relative !important;
}

.gridLayout {
  display: flex;
  // padding: 10px 80px;
  justify-content: center;
  min-height: 200px;
  grid-gap: 1rem;

  .gridLayout--dragItem {
    padding: 0px;
    padding-left: 20px;

    .toolbar__parent {
      left: -25px !important;
    }
  }

  @media (max-width: 450px) {
    padding: 0 10px;
  }

  @media (max-width: 560px) {
    flex-wrap: wrap;
    grid-gap: 5px;

    .gridLayout--dragItem {
      padding-left: 0px;
    }

    .gridLayout--dragItem {
      width: 100% !important;
    }
  }

  .gridLayout__children {
    padding: 10px;
    height: 100%;

    .draggableItems {
      padding: 0px !important;

      .toolbar,
      .toolbar__dragndrop {
        display: none !important;
      }
    }
  }
}

.gridLayout__children--verticalLine {
  height: 100;
  width: 4px;
  background-color: #d5eef8;
}

.gridLayout__sizeoptions {
  position: absolute;
  background-color: #111;
  color: white;
  padding: 5px;
  border-radius: 5px;
  top: 40px;
  right: 10px;
  display: flex;
  grid-gap: 1rem;

  .grid--btn {
    padding: 5px;
    background-color: #444;
    color: white;
    border-radius: 5px;
    width: 30px;
    cursor: pointer;
    border: 1px solid #111;
    outline: none;

    &:hover {
      background-color: #222;
      border: 1px solid #444;
    }
  }
}

.elementPara {
  div {
    background-color: inherit;
    position: absolute;
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #006cfa !important;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 1px;
      left: 1px;

      &:hover {
        width: 35px;
        height: 35px;
        border-radius: 50%;
      }
    }
  }

  .elementPara--top {
    top: -15px;
    left: min(10%, 30px);
  }

  .elementPara--bottom {
    bottom: -10px;
    right: min(10%, 30px);
  }
}

.draggableItems {
  position: relative;
  padding: 0px 80px;
  width: 100%;

  @media (max-width: 450px) {
    padding: 0 10px;
  }
}

.header__container {
  padding: 0px 80px;

  @media (max-width: 450px) {
    padding: 0 10px;
  }
}

.element--dropLine {
  width: 90%;
  position: absolute;
  top: -5px;
  background-color: rgb(93, 151, 228);
  height: 4px;
  z-index: 120;
}

.element--dropLineVertical {
  height: 100%;
  width: 4px;
  position: absolute;
  left: 60px;
  background-color: rgb(93, 151, 228);
  z-index: 120;
}

.element__tableCell {
  .draggableItems {
    padding: 0px !important;

    button {
      display: none !important;
    }
  }
}

.element__container {
  .draggableItems {
    padding: 0px !important;

    button {
      display: none !important;
    }
  }
}

.gridLayout--dragItem {
  padding: 0;

  .toolbar__parent {
    left: -20px !important;

    // .toolbar__addButton--hover {
    //   display: none !important;
    // }
  }

  button {
    left: 10px;
  }
}

.transparent__layer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.activenode__element {
  background-color: #d5eef8;
}
