.toolbar__options {
  width: 280px;
  height: 300px;
  overflow-y: scroll;
  position: absolute;
  //   top: -10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;
  border-radius: 5px;

  p {
    padding: 5px 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #edece9;
  }

  &::-webkit-scrollbar-thumb {
    background: #d3d1cb;
    border-radius: 10px;

    &:hover {
      background: #a09f9b;
    }
  }
}

.toolbar__basicBlock__title {
  color: #a6a6a3;
  font-weight: 500;
}

.toolbar__blockBtn {
  width: 100%;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  grid-gap: 1rem;

  .toolbar__blockBtn--icon {
    flex: 0.2;
    height: 90%;
    background-color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .toolbar__blockBtn--name {
    flex: 1;
    height: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    color: #37352f;
  }

  .toolbar__blockBtn--subname {
    color: #b4b3b1;
    font-size: 12px;
  }

  &:hover {
    background-color: #efefef;
    .toolbar__blockBtn--icon {
      background-color: #efefef;
    }
  }
}

.toolbarOption__container {
  display: inline-block;
}

.dropClickToolbar {
  width: 200px;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  position: relative;
  box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
    rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

  .toolbar__options {
    left: 150%;
  }
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
