@import "./common";
@import "./task";
@import "./toolbar";
@import "./menu";

.homepage {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;

  .homepage__btn {
  }
}

.mode--light {
  background-color: white;
  color: #111;
}

.mode--dark {
  background-color: #111;
  color: white;
}

.customParentLoader {
  position: relative;
  min-height: 100px;
}
